body{
  background-color: rgb(255, 255, 255);
  background-image: url("../images/mainpage_background_1.jpg");
}

div.container{
  height: 100%;;
  position: relative;
  
}

div.center{
  height: 600px;
  width: 400px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 4px solid rgb(64, 128, 255);
  background-color: rgba(0,0,0,0.8);
  border-radius: 100px;
}

div.image{
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.image{
  border-radius: 50%;
  width: 50%;
  height: auto;
  border: 4px solid rgb(64, 128, 255);
}

div.name{
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.name{
  font-family: 'Berkshire Swash', cursive;
  font-size: 250%;
  color: rgb(255, 255, 255);
}

div.pages{
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.pages{
  /* background-color: transparent; */
  background: none;
  border: none;
  height: 20%;
  width: 40%;
  font-family: 'Berkshire Swash', cursive;
  font-size: 150%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-top: 4px solid rgb(64, 128, 255);
  border-bottom: 4px solid rgb(64, 128, 255);
}

button.pages:hover, button.pages:visited{
  color: rgb(64, 128, 255);
  text-decoration: none;
  border-top: 4px solid rgb(255, 255, 255);
  border-bottom: 4px solid rgb(255, 255, 255);
}
