body{
    padding:0px;
    margin:0px;
    background-color: rgb(240, 255, 255);
}

div.header{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    height: 20%;
    background-image: url("../images/intro_background.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.header{
    font-family: 'Encode Sans', sans-serif;
    font-weight: 800;
    font-size: 250%;
    color: rgb(255, 255, 255);
}

.text{
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 500;
    padding-left: 5%;
    padding-right: 5%;
}

h1.text{
    font-size: 300%;
}

h2.text{
    font-size: 200%;
    margin: 0;
}